PORT=

DB_USER=docker
DB_PASSWORD=docker
DB_HOST=medallert-db
DB_PORT=5432
DB_NAME=medallert
CONTAINER_RESTART_POLICY=unless-stopped
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
