PORT=3003

DB_USER=dev
DB_PASSWORD=dev
DB_HOST=medallert-db
DB_PORT=5432
DB_NAME=medallert
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

CONTAINER_RESTART_POLICY=unless-stopped

RESEND_API_KEY=
RESEND_FROM_EMAIL=

JWT_SECRET=senha_segura